$white: white;
$dark-pink: #f0145a;
$dark-blue: #323264;
$cyber-grape: #643e72;
$lavender-grey: #cacadb;
$gray: #b3b3ba;
$light-coral: #ef8080;
$light-blue: #24a3ff;
$ghost-white: #f5f5fa;
$black: black;
$bright-gray: #e6e6f0;
$flower-blue: #46466e;
$smudged-lips: #ef4069;
$red-scarlet: #f0145a;
$lavander: #ededf7;
