$gd-col: 12;
$gd-size: 100% / $gd-col;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$gutter: 15px;

@mixin col-size($width) {
  max-width: $width;
  margin-right: $gutter;
  margin-left: $gutter;
  margin-top: $gutter;
}
@for $i from 1 through $gd-col {
  .col-#{$i} {
    @include col-size($gd-size * $i);
  }
}

@media screen and (min-width: $sm) {
  @for $i from 1 through $gd-col {
    .col-sm-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}

@media screen and (min-width: $md) {
  @for $i from 1 through $gd-col {
    .col-md-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}

@media screen and (min-width: $xl) {
  @for $i from 1 through $gd-col {
    .col-lg-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}
