.txt-linear-gradient {
  background: -webkit-linear-gradient(213deg, $light-coral, $dark-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-fonts {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  color: $white;
}

.dividing-line {
  border: 2px solid $bright-gray;
  background-color: $bright-gray;
}

.monserrat-bold {
  font-family: Montserrat;
  font-weight: bold;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mr-15 {
  margin-right: 15px;
}
