@import "../scss/media";
@import "../scss/colors";
@import "../scss/buttons";
@import "../scss/txt";

.section-gradient {
  min-height: 90vh !important;
}
.section-gradient {
  margin-bottom: 80px !important;
}

.pg-bottom {
  padding-bottom: 30px;
}
.service__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
  padding: 0px 60px;
}

.service__content {
  margin-top: 18px;
  margin-bottom: 28px;
  max-width: 1360px;
  text-align: center;
}
.col__txt {
  font-size: 19px;
}

.button__sevice {
  padding: 18px 30px;
  color: $white;
  margin-bottom: 0px;
}

.our-services {
  margin: 0 auto;
  &__wrap {
    max-width: 1420px;
    padding: 0 70px 60px;
  }
}
.our-services__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin: 30px 0 30px;
}
.our-services__list {
  list-style: disc;
  color: $red-scarlet;
}
.our-services__item {
  margin-bottom: 15px;
}
.our-services__block {
  width: 575px;
  margin-right: 70px;
  &:last-child {
    margin-right: 0px;
  }
}
.our-services__content {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
}
.dividing-line {
  border: 2px solid $lavender-grey;
  background-color: $lavender-grey;
}

@media screen and (max-width: $md) {
  .our-services__content {
    flex-wrap: wrap;
  }
  .service__wrap {
    margin: 50px 0px 30px;
  }
  .title {
    font-size: 30px !important;
  }
  .logo-services {
    width: 45%;
  }
}
