@import "../scss/colors";
@import "../scss/buttons";
@import "../scss/txt";

.section-gradient {
  margin-bottom: 80px;
}

.pg-bottom {
  padding-bottom: 30px;
}
.service__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 60px;
}

.service__content {
  margin-top: 18px;
  margin-bottom: 28px;
  max-width: 1360px;
  text-align: center;
}
.col__txt {
  font-size: 19px;
}

.button__sevice {
  padding: 18px 30px;
  color: $white;
}
