@import "../scss/colors";
@import "../scss/buttons";
@import "../scss/txt";

.section-gradient {
  margin-bottom: 80px;
}

.pg-bottom {
  padding-bottom: 30px;
}
.service__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 60px;
}

.service__content {
  margin-top: 18px;
  margin-bottom: 28px;
  max-width: 1360px;
  text-align: center;
}
.col__txt {
  font-size: 19px;
}

.button__sevice {
  padding: 18px 30px;
  color: $white;
}

.our-services {
  margin: 0 auto;
  &__wrap {
    max-width: 1420px;
    padding: 0 60px;
  }
}
.our-services__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin: 30px 0 30px;
}
.our-services__list {
  list-style: disc;
  color: $red-scarlet;
}
.our-services__item {
  margin-bottom: 15px;
}
.our-services__block {
  max-width: 575px;
}
.our-services__content {
  display: flex;
  justify-content: space-between;
}
.dividing-line {
  border: 2px solid $lavender-grey;
  background-color: $lavender-grey;
}
