@import "../scss/colors";
.header-grid__button_color {
  color: $gray;
}
.header-grid__address_color {
  color: $gray;
}
.header-grid__phone_color {
  color: $gray;
}
.nav-menu__link_color {
  color: $light-blue;
}
