@import "../scss/colors";
@import "../scss/reset";
@import "../scss/media";
@import "../scss/txt";

.header-grid__button_color {
  color: $gray;
}
.header-grid__address_color {
  color: $gray;
}
.header-grid__phone_color {
  color: $gray;
}
.nav-menu__link_color {
  color: $light-blue;
}

@media screen and (max-width: $md) {
  .header-grid__info {
    background: $ghost-white;
  }
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  box-shadow: none;
}
