html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.col-1 {
  max-width: 8.33333%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-2 {
  max-width: 16.66667%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-3 {
  max-width: 25%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-4 {
  max-width: 33.33333%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-5 {
  max-width: 41.66667%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-6 {
  max-width: 50%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-7 {
  max-width: 58.33333%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-8 {
  max-width: 66.66667%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-9 {
  max-width: 75%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-10 {
  max-width: 83.33333%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-11 {
  max-width: 91.66667%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-12 {
  max-width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-2 {
    max-width: 16.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-3 {
    max-width: 25%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-4 {
    max-width: 33.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-5 {
    max-width: 41.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-6 {
    max-width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-7 {
    max-width: 58.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-8 {
    max-width: 66.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-9 {
    max-width: 75%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-10 {
    max-width: 83.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-11 {
    max-width: 91.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-sm-12 {
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-2 {
    max-width: 16.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-3 {
    max-width: 25%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-4 {
    max-width: 33.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-5 {
    max-width: 41.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-6 {
    max-width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-7 {
    max-width: 58.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-8 {
    max-width: 66.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-9 {
    max-width: 75%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-10 {
    max-width: 83.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-11 {
    max-width: 91.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-12 {
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    max-width: 8.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-2 {
    max-width: 16.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-3 {
    max-width: 25%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-4 {
    max-width: 33.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-5 {
    max-width: 41.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-6 {
    max-width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-7 {
    max-width: 58.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-8 {
    max-width: 66.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-9 {
    max-width: 75%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-10 {
    max-width: 83.33333%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-11 {
    max-width: 91.66667%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-lg-12 {
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.section-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
  min-height: 100vh;
  margin-bottom: 20px;
  position: relative;
}

.section-gradient__shadow {
  position: absolute;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}

.section-gradient__shadow_1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background: #cacadb;
}

.section-gradient__shadow_2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background: #cacadb;
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}

.main-wrap-bg {
  min-height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow-x: hidden;
}

.main-wrap-bg__object {
  position: absolute;
  height: 100%;
}

.section-first {
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-first__header, .section-first__title, .section-first__button {
  padding: 50px 50px 0;
  font-size: 26px;
  color: white;
}

.section-first__title {
  padding: 0px 50px 50px;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.section-first__button {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.header-grid {
  padding: 5px;
  color: white;
  display: grid;
  grid-template-areas: "logo info" "logo nav";
  justify-content: space-between;
}

.header-grid__logo, .header-grid__info, .header-grid__nav {
  padding: 0 20px 18px;
}

.header-grid__logo {
  grid-area: logo;
}

.header-grid__info {
  grid-area: info;
  display: flex;
  align-items: center;
}

.header-grid__nav {
  grid-area: nav;
}

.header-grid__nav-list {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 824px) {
  .header-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "info" "logo" "nav";
  }
  .header-grid__nav-list {
    display: flex;
    justify-content: flex-start;
  }
}

.header-grid__nav-item {
  padding: 0 0 15px 15px;
}

.header-grid__nav-link {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  transition: 0.3s ease;
  padding: 0 0 5px;
}

.header-grid__nav-link:hover {
  color: #f0145a;
  box-shadow: 0px 4px 0px #f0145a;
}

.header-grid__button {
  border-radius: 8px;
  padding: 5px;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  margin-left: 10px;
  width: 33px;
  height: 25px;
  background: transparent;
  transition: 0.3s ease;
}

.header-grid__button:hover {
  cursor: pointer;
  background-color: #f0145a;
}

.header-grid__circle {
  border-radius: 50%;
  background-color: #cacadb;
  height: 6px;
  width: 6px;
  margin: 5px;
}

.header-grid__address {
  font-family: Montserrat;
  font-size: 16px;
  color: white;
}

.header-grid__phone {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  color: white;
  line-height: 20px;
}

.section-first__circle {
  width: 42px;
  height: 42px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.3s ease;
  position: relative;
  outline: none;
}

.section-first__circle::after {
  content: "";
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-left: 13px;
  margin-top: 10px;
}

.section-first__circle:hover {
  border-color: #f0145a;
}

.section-first__circle:hover:after {
  border-color: #f0145a;
}

.header-grid__fb-link {
  color: white;
}

/*block-carousel */
.block-carousel {
  display: flex;
  justify-content: center;
  padding: 90px 0 0;
}

.block-carousel__frame {
  text-align: end;
  padding: 10px;
}

.block-carousel__header {
  font-family: Montserrat;
  padding: 15px 0;
  font-weight: bold;
  font-size: 32px;
  color: #b3b3ba;
  cursor: pointer;
  line-height: 46px;
  transition: 0.3s ease;
}

.block-carousel__header:hover {
  background: -webkit-linear-gradient(#ef8080, #f0145a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-carousel__line {
  border: 1px solid white;
  margin: 0 60px;
}

.block-carousel__content {
  max-width: 581px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.block-content__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: white;
  margin-bottom: 30px;
}

.block-content-txt {
  color: white;
  font-family: Montserrat;
  font-size: 19px;
  line-height: 30px;
}

/*card content*/
.card-content {
  padding: 60px 160px;
}

.card-content__link {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #24a3ff;
  transition: 0.3s ease;
  position: relative;
}

.card-content__link::after {
  content: "";
  border: solid #24a3ff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(319deg);
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-left: 6px;
  margin-top: 10px;
}

.card-content__link:hover {
  color: #f0145a;
}

.card-content__link:hover:after {
  border-color: #f0145a;
}

.card-content__title {
  padding: 10px 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: -webkit-linear-gradient(213deg, #ef8080, #f0145a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 0 -15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  padding: 15px 0 15px;
}

.col__svg {
  margin-bottom: 30px;
}

.col__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #24a3ff;
  margin-bottom: 10px;
}

.col__txt {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

/*block-team*/
.team {
  margin: 80px 15px 55px;
  display: flex;
  justify-content: center;
}

.team__container {
  display: flex;
  background-color: #f5f5fa;
  border-radius: 22px;
}

.team__content {
  padding: 30px;
}

.team__txt {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: -webkit-linear-gradient(213deg, #ef8080, #f0145a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 1140px;
}

.team__name {
  color: #b3b3ba;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
}

.team__position {
  font-family: Montserrat;
  font-size: 14px;
  color: #b3b3ba;
  line-height: 22px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.button-circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 15px;
  background-color: #7fc1f1;
  border: none;
}

.button-circle__active {
  background-color: #24a3ff;
}

/*partners*/
.partners {
  display: flex;
  flex-direction: column;
}

.partners__title {
  text-align: center;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.grid-wrap {
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 430px);
  grid-template-rows: repeat(3, 120px);
}

/* Publications */
.publications {
  padding: 30px 160px;
  background-color: #f5f5fa;
}

.publications__title {
  margin-bottom: 30px;
}

.publications__sub-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.publications__img {
  width: 100%;
}

.post {
  background-color: white;
  border-radius: 9px;
}

.post__content__title {
  color: #24a3ff;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.post__content__sub-title {
  color: #b3b3ba;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.post__content__underlining {
  border: 2px solid #e6e6f0;
  background-color: #e6e6f0;
}

.post__content {
  padding: 30px 30px 30px;
}

.post__content__txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  color: black;
  padding-top: 15px;
}

/* Footer*/
.footer {
  padding: 0px 160px;
  background-color: #f5f5fa;
}

.footer__underscore {
  border: 2px solid #e6e6f0;
  background-color: #e6e6f0;
  margin-bottom: 30px;
}

.footer__address {
  display: flex;
}

.footer__contact {
  display: flex;
}
