.underline {
  border: 2px solid #e6e6f0;
  background-color: #e6e6f0;
}

.biography {
  display: flex;
}

.biography__wrapper {
  max-width: 1360px;
  max-height: 500px;
  margin: 65px auto 60px;
  padding: 0 60px;
  min-height: 65vh;
  position: relative;
}

.biography__content {
  padding-left: 60px;
}

.biography__full-name {
  padding-bottom: 15px;
}

.biography__contacts {
  display: flex;
  align-items: center;
}

.biography__email,
.biography__profile {
  color: #24a3ff;
}

.biography__underline {
  margin: 30px 0;
}

.wrap-content__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #323264;
}

.txt-fonts_color {
  color: black;
}

.biography__txt {
  margin-bottom: 30px;
}
