@import "../scss/underline";
@import "../scss/colors";
@import "../scss/txt";
// @import "../scss/media";
.main-wrap {
  min-height: 88vh !important;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.main-wrapper {
  padding: 65px 60px 60px;
}

.main-container__contacts {
  width: 100%;
}
.contact-data__address {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}
.contacts-data__underline {
  margin: 30px 0;
}
.contact-data__address_color {
  color: $dark-blue;
}

.contacts-data__tel {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 15px;
}
.contacts-data__tel_color {
  color: $dark-blue;
}
.contacts-data__email {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}

.contacts-data__email_color {
  color: $light-blue;
}

.contacts-data__fb {
  display: flex;
  align-items: center;
}

.content-fb__txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.content-fb__txt_color {
  color: $light-blue;
}
// Form
.main-container__form {
  max-width: 650px;
  border: none;
  margin-left: 60px;
}

.main-wrapper__content {
  max-width: 1400px;
  margin: auto;
}
@media screen and (max-width: 870px) {
  .main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-container__form {
    margin-left: 0px;
  }
  .main-container__form {
    margin-top: 60px;
  }
}
.content-fb__txt_color:hover {
  color: $dark-pink;
}
